/* Common modules */
@import 'src/common';

#search-result-container {
	@include container();
	font-family: 'Malgun Gothic';
}

#item-name {
	margin-bottom: 10px;
	font-size: 18px;
}

#item-image {
	margin-bottom: 10px;
}

#item-id {
	margin-bottom: 8px;
	font-size: 12px;
}

#item-info-table {
	margin-bottom: 10px;
	width: $body-width;
}

.table-title {
	font-size: 15px;
}

.part {
	font-size: 15px;
}