<div id="common-info-container">
	<!-- 제목 -->
	<div id="common-info-title">분리배출 기본 상식</div>
	<!-- 내용 -->
	<div id="common-info-content">
		<br />
		<div style="text-align: center; width: 600px; margin-bottom: 10px;">
			<h3><b>페트병 분리수거 방법</b></h3>
			투명 페트병의 내용물을 비운다.<br />
			라벨을 제거하고 비닐류에 따로 버린다.<br />
			부피를 줄이기 위해 페트병을 찌그러트린다.<br />
			이물질이 들어가지 않도록 뚜껑을 닫아준다.<br />
			<br />
			<img src="assets/pet.png" style="width: 100%;" />
			<br />
			<h3><b>투명 페트병, 분리배출 의무화</b></h3>
			우선 투명 페트병을 보신다면, 앞으로는 일반 플라스틱으로 분류하는 것이 아닌 별도로 분리배출 해주세요.
			투명 페트병이라고 특별한 것이 아니에요. 같은 플라스틱이지만, PET나 PP 등 다른 플라스틱이 섞일 경우 가치가 낮은 제품으로만 재활용되기 때문입니다.
			이 말인즉슨 투명 페트병을 따로 분리할 경우 장섬유와 같은 고품질의 원료로 재생산이 가능한 것이죠.
			장섬유는 의류나 가방, 신발 등으로 생산되고있으니 투명 페트병은 반드시 따로 분리배출 하는 것 잊지 마세요!

			게다가 투명 페트병 별도 분리배출 의무화가 공동주택에서만 시행되었는데, 2021년 12월 25일부터는 단독주택과 다가구주택으로 더욱 확대되었습니다.
			또한 2022년 12월 26일부터 투명 페트병 분리배출이 의무화되어, 분리배출하지 않으면 과태료 부과 대상이 될 수 있습니다.
			과태료는 총 3차에 나눠서 부과되는데요.
			1차로, 투명 페트병을 다른 재활용품과 함께 버릴 경우 10만원, 한 번 더 적발되면 20만원, 3차로 적발되면 무려 30만원의 벌금을 내야 한다는 사실!
		</div>
	</div>

	<!-- 버튼: 뒤로 가기 -->
	<button mat-stroked-button id="button-back" class="mat-elevation-z2"
		(click)="onClickBackButton()">
		뒤로 가기
	</button>
</div>